@font-face {
	font-family: "snf-font";
	src:url("../fonts/snf-font.eot");
	src:url("../fonts/snf-font.eot?#iefix") format("embedded-opentype"),
		url("../fonts/snf-font.woff") format("woff"),
		url("../fonts/snf-font.ttf") format("truetype"),
		url("../fonts/snf-font.svg#snf-font") format("svg");
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: "snf-font";
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it"s slower:
[class*="snf-"] {
*/
.snf-font, .snf-custom-checkbox, .snf-twitter-off-black, .snf-cancel-circled, .snf-checkbox-checked, .snf-checkbox-unchecked, .snf-cancel-circled2, .snf-cancel-circled-outline, .snf-cancel-outline, .snf-ok, .snf-remove, .snf-ban-circle, .snf-ok-circle, .snf-ok-sign, .snf-remove-sign, .snf-minus-sign, .snf-pencil, .snf-edit, .snf-edit-1, .snf-pencil-circled, .snf-icon-compute-outline, .snf-icon-networks-fill, .snf-HDD, .snf-network, .snf-PC, .snf-PC_fill, .snf-Pithos, .snf-DASHboard, .snf-eye, .snf-radio-checked, .snf-radio-unchecked, .snf-close, .snf-cpu, .snf-lock_closed, .snf-lock_open, .snf-modem, .snf-www, .snf-ram{
	font-family: "snf-font";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.snf-twitter-off-black:before {
	content: "\67";
}
.snf-cancel-circled:before {
	content: "\63";
}
.snf-checkbox-checked:before {
	content: "\62";
}
.snf-checkbox-unchecked:before {
	content: "\61";
}
.snf-cancel-circled2:before {
	content: "\64";
}
.snf-cancel-circled-outline:before {
	content: "\65";
}
.snf-cancel-outline:before {
	content: "\66";
}
.snf-ok:before {
	content: "\68";
}
.snf-remove:before {
	content: "\69";
}
.snf-ban-circle:before {
	content: "\6a";
}
.snf-ok-circle:before {
	content: "\6b";
}
.snf-ok-sign:before {
	content: "\6c";
}
.snf-remove-sign:before {
	content: "\6d";
}
.snf-minus-sign:before {
	content: "\6e";
}
.snf-pencil:before {
	content: "\6f";
}
.snf-edit:before {
	content: "\70";
}
.snf-edit-1:before {
	content: "\71";
}
.snf-pencil-circled:before {
	content: "\72";
}
.snf-icon-compute-outline:before {
	content: "\73";
}
.snf-icon-networks-fill:before {
	content: "\74";
}
.snf-HDD:before {
	content: "\75";
}
.snf-network:before {
	content: "\76";
}
.snf-PC:before {
	content: "\77";
}
.snf-PC_fill:before {
	content: "\78";
}
.snf-Pithos:before {
	content: "\79";
}
.snf-DASHboard:before {
	content: "\7a";
}
.snf-eye:before {
	content: "\41";
}
.snf-radio-checked:before {
	content: "\42";
}
.snf-radio-unchecked:before {
	content: "\43";
}

.snf-close:before {
	content: "\44";
}
.snf-cpu:before {
	content: "\45";
}
.snf-lock_closed:before {
	content: "\46";
}
.snf-lock_open:before {
	content: "\47";
}
.snf-modem:before {
	content: "\48";
}
.snf-www:before {
	content: "\49";
}
.snf-ram:before {
	content: "\4a";
}