
/* selection window (used to vm_list_v1.html) */

.vm_options{
	display: none;
	border: 1px solid #ff7bac;
	position: absolute;
	top: -20%;
	width: 100%;
	height: 100%;
	font-size: 27px;
	font-weight: bold;
	text-align: left;
	background-color: white;
	line-height: 45px;
	padding-left: 1em;
	padding-top: 0.65em;
}

.vm_options .custom_checkbox{
	display: inline-block;
	margin: 0;
	padding-left: 1em;	
	color: #ff7bac;
}

a.option:hover{
	color: #ff7bac;
}

.vm_container{
	width: 200px;
	display: inline-block;
	height: 187px;
	position: relative;

}