/*
Syntax error: Undefined variable: "$vm-stopped-color".
        on line 99 of /home/athina/snf/synnefo/snf-cyclades-app/synnefo/ui/new_ui/ui/sass/icons.scss

Backtrace:
/home/athina/snf/synnefo/snf-cyclades-app/synnefo/ui/new_ui/ui/sass/icons.scss:99
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.10/lib/sass/script/variable.rb:49:in `_perform'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.10/lib/sass/script/node.rb:40:in `perform'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:298:in `visit_prop'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `map'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `map'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:7:in `visit'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.10/lib/sass/tree/root_node.rb:20:in `render'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.10/lib/sass/engine.rb:315:in `_render'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.2.10/lib/sass/engine.rb:262:in `render'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:68:in `perform'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/bin/compass:44:in `call'
/home/athina/.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/home/athina/.rvm/gems/ruby-1.9.2-p320/bin/compass:23:in `load'
/home/athina/.rvm/gems/ruby-1.9.2-p320/bin/compass:23:in `<main>'
/home/athina/.rvm/gems/ruby-1.9.2-p320/bin/ruby_noexec_wrapper:14:in `eval'
/home/athina/.rvm/gems/ruby-1.9.2-p320/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$vm-stopped-color\".\A         on line 99 of /home/athina/snf/synnefo/snf-cyclades-app/synnefo/ui/new_ui/ui/sass/icons.scss"; }
