/* line 7, ../sass/icons.scss */
.menu1 ul li {
  margin-right: 9px;
}
/* line 10, ../sass/icons.scss */
.menu1 ul li a .snf-font {
  font-size: 25px;
  color: #1a1a1a;
}
/* line 15, ../sass/icons.scss */
.menu1 ul li a:hover span {
  color: #30c79e;
}

/* line 30, ../sass/icons.scss */
.menu2 ul li {
  margin-right: 9px;
}
/* line 33, ../sass/icons.scss */
.menu2 ul li a .snf-font {
  font-size: 25px;
  font-weight: bold;
  color: #919194;
}
/* line 39, ../sass/icons.scss */
.menu2 ul li a:hover span {
  color: #30c79e;
}

/* line 54, ../sass/icons.scss */
.menu3 ul li a .snf-font {
  font-size: 25px;
  color: #919194;
}

/* line 68, ../sass/icons.scss */
body .items-list .img-wrap.running, body .vms .items-list .img-wrap.stopped {
  background: none;
  text-indent: 0;
  width: 60px;
  height: 60px;
}

/* line 75, ../sass/icons.scss */
body .img-wrap .snf-font {
  font-size: 60px;
}

/* line 79, ../sass/icons.scss */
dd
body .networks .img-wrap .snf-font.bolding {
  font-weight: bold;
  font-size: 57px;
  top: 6px;
}

/* line 84, ../sass/icons.scss */
body .networks .img-wrap .snf-font {
  position: relative;
  top: 2px;
}

/* line 89, ../sass/icons.scss */
body .networks .running .snf-font {
  color: #79c79e;
}

/* line 93, ../sass/icons.scss */
body .running .snf-font {
  color: #30c79e;
}

/* line 98, ../sass/icons.scss */
body .stopped .snf-font {
  color: #e00e63;
}

/* line 103, ../sass/icons.scss */
body .vms .items-list .img-wrap .os {
  left: 19px;
}
