
/* styles for selection window (used for vm_list_v1.html) */

.vm_options{
	display: none;
	border: 1px solid #ff7bac;
	position: absolute;
	top: -20%;
	width: 100%;
	height: 100%;
	font-size: 27px;
	font-weight: bold;
	text-align: left;
	background-color: white;
	line-height: 45px;
	padding-left: 1em;
	padding-top: 0.65em;
}

.vm_options .custom_checkbox{
	display: inline-block;
	margin: 0;
	padding-left: 1em;	
	color: #ff7bac;
}

a.option:hover{
	color: #ff7bac;
}

.vm_container{
	width: 200px;
	display: inline-block;
	height: 187px;
	position: relative;

}


/* styles for the detailed info of each vm (used for vm_details_v1.html) */


.graph_container{
	padding-bottom: 2em;

}


.wrap{
	position: relative;
}

.section_header{
	float: left;
	width:22%;
	margin-right: 2%;
	font-weight: bold;
}

.right_side{
	overflow: hidden;
	width: 76%;
}



.info_simple{
	display: inline-block;
	margin-right: 10px;
}


.action_links{
	display: inline-block;
	
}
.action_links a:hover {
	text-decoration: underline;
}

.btn_pinkb{
	width: 11.5em;
	height: 3.8em;
	line-height: 3.8em;
	border: 1px solid #ff7bac;
	position: absolute;
	top: 0;
	right: 0;
}

.btn_pinkb a{
	display: block;
	padding-left: 1em;
}

.btn_pinkb a:hover, a.black:hover{
	color: #ff7bac;
}


.btn_pinkb a img{
	position: absolute;
	right: 0.6em;
	top: 0.6em;
	height: 2.5em;
}


.action_links span:first-child{
	margin-right: 5px;
}

.action_links a{
	color: #ff7bac;
	margin-right: 5px;
}

.row{
	margin: 0 0 0.4em 0;
}
.middle_side{
	max-width: 70%;
}

.txt_size{
	height: 0.8em;
	vertical-align: baseline;
}

a.black{
	color: black;
}

a.black:hover{
	color: #ff7bac;
}


/* create vm: choose flavor */

.titles{
	color: white;
}


.lt-sidebar ul li a.flavor_selection{
	display: block;
}


.overlay .lt-sidebar ul li a.flavor_selection.chosen_flavor span{
	display: inline-block;
}

.create-vm .main .select-flavor dl dt span:hover{
 	color: white;
	border-color: white;
	background-color: #ff7bac;
 }


.create-vm .main .select-flavor dl dt span.current:hover{
 	color: #ff7bac;
	border-color: white;
	background-color: white;
 }

 /* styles for network details */

 .big{
 	width: 60%;
 }

 .small{
 	width: 170px;
 }

.wrapper .details .top{
	padding: 70px 2.5em;
}

.wrapper .details .top .actions ul li{
	margin: 0 30px;
}

.height_up{
	line-height: 1.3em;
}

.set{
	margin-bottom: 1em;
}

/* main icon in details page */
.network .top .img {
background: url("../images/network-green102x116.png") no-repeat center center;
width: 102px;
height: 116px;
display: inline-block;
text-indent: -2000px;
overflow: hidden;
background-size: 100%;
}


/* scroll bar */
.networks .items-list .img {
background: url("../images/network-green102x116.png") no-repeat center center;
height: 58px;
width: 51px;
display: inline-block;
text-indent: -2000px;
overflow: hidden;
background-size: 80%;
}

.network .close-font{
	position: absolute;
	right: 0.8em;
	top: 2em;
	font-size: 2em;
	color: #b3b3b3;

}


/* styles for network list */

.networks .items-list .container .img {
background: url("../images/network-green102x116.png") no-repeat center center;
height: 58px;
width: 51px;
text-indent: -2000px;
overflow: hidden;
background-size: 100%
}


/* styles for confirmation window */

.confirmation{
	
}


/* detailed pages: about the gaps that separate the area with the big img and the buttons from the rest of the page */ 


.details .top .actions ul{
	padding: 1em 1em 0 1em;
	margin-bottom: 0;
} 

.details .border-bottom-style1{
	padding-bottom: 0;
}