
<div class="row">
	<form class="custom">
	  <select class="medium">
	    <option class="el5">Basic Project</option>
	    <option>Project 2</option>
	    <option>Project 3</option>
	  </select>
	</form>
	<ul class="flavor">
		<li>
			<div class="title">
				<span class="snf-chip-outline snf-font"></span>
				<h2>
					CPU<span> (x cores)</span>
					<em>Choose number of CPU cores</em>
				</h2>
				<p>HOVER EXPLANATORY TEXT Volumes residing on our custom storage layer Archipelago, supporting fast VM spawning with cloning. Will also support Volume snapshotting really soon.</p>
			</div>
			<div class="options-bar">
				<div class="bar">
					<div class="wrap">
						<div class="container">
							<!-- width percentages do not correspond to actual mesurements -->
							<div class="total" style="width:60%">
								<div class="current" style="width:30%"></div>
								<span>60%</span>
							</div>
						</div>
					</div>
				</div>
				<ul class="options with-flavor">
					<li><a href="" class="small current preselected " data-help="help text for 1">1</a></li>
					<li><a href="" class="medium" data-help="help text for 2">2</a></li>
					<li><a href="" class="large disabled" data-help="help text for 3">3</a></li>
					<li><a href="" class="disabled" data-help="help text for 4">4</a></li>
				</ul>
			</div>
		</li>
		<li>
			<div class="title">
				<span class="snf-ram-outline snf-font"></span>
				<h2>
					Memory Size 
					<span> (MB)</span>
					<em>Choose memory size</em>
				</h2>
				<p>HOVER EXPLANATORY TEXT Volumes residing on our custom storage layer Archipelago, supporting fast VM spawning with cloning. Will also support Volume snapshotting really soon.</p>
			</div>
			<div class="options-bar">
				<div class="bar">
					<div class="wrap">
						<div class="container">
							<!-- width percentages do not correspond to actual mesurements -->
							<div class="total" style="width:60%">
								<div class="current" style="width:30%"></div>
								<span>60%</span>
							</div>
						</div>
					</div>
				</div>
				<ul class="options with-flavor">
					<li><a href="" class="small current preselected">1024</a></li>
					<li><a href="" class="medium">2048</a></li>
					<li><a href="" class="large">4096</a></li>
				</ul>
			</div>
		</li>
		<li>
			<div class="title">
				<span class="snf-volume-outline snf-font"></span>
				<h2>
					Disk Size<span> (GB)</span>
					<em>Choose disk size</em>
				</h2>
				<p>HOVER EXPLANATORY TEXT Volumes residing on our custom storage layer Archipelago, supporting fast VM spawning with cloning. Will also support Volume snapshotting really soon.</p>
			</div>
			<div class="options-bar">
				<div class="bar">
					<div class="wrap">
						<div class="container">
							<!-- width percentages do not correspond to actual mesurements -->
							<div class="total low" style="width:40%">
								<div class="current" style="width:80%"></div>
								<span>40%</span>
							</div>
						</div>
					</div>
				</div>
				<ul class="options with-flavor">
					<li><a href="" class="small current preselected">10</a></li>
					<li><a href="" class="medium">20</a></li>
					<li><a href="" class="large">30</a></li>
					<li><a href="">40</a></li>
				</ul>
			</div>
		</li>
		<li>
			<div class="title">
				<span class="snf-volume-outline snf-font"></span>
				<h2>
					Storage
					<em>Select storage type</em>
				</h2>
				<p>HOVER EXPLANATORY TEXT Volumes residing on our custom storage layer Archipelago, supporting fast VM spawning with cloning. Will also support Volume snapshotting really soon.</p>
			</div>
			<div class="options-bar">
				<div class="bar">
					<div class="wrap  disabled-progress-bar">
						<div class="container">
							<!-- width percentages do not correspond to actual mesurements -->
							<div class="total" style="width:100%">
								<div class="current" style="width:0%"></div>
								<span></span>
							</div>
						</div>
					</div>
				</div>
				<ul class="options vm-storage-selection">
					<li><a href="" class="current preselected">DRBD</a></li>
					<li><a href="" data-next="el3">Archipelago</a></li>
				</ul>
			</div>
		</li>
	</ul>
</div>