<div class="summary">
	<div class="row">
		<div class="wrap">
			<dl>
				<dt><span class="snf-pc-full snf-font"></span>Machine name</dt>
				<dd>handsome frank</dd>
			</dl>
		</div>
	</div>
	<div class="row">
		<div class="wrap">
			<dl>
				<dt>Image</dt>
				<dd>Fedora</dd>
				<dt>Name</dt>
				<dd>Debian Base</dd>
				<dt>Desciption</dt>
				<dd>open suse description open suse description open suse description open suse description open suse description</dd>
				<dt>os</dt>
				<dd>Debian</dd>
				<dt>Size</dt>
				<dd>10.4GB</dd>
				<dt>GUI</dt>
				<dd>No GUI</dd>
				<dt>Kernel</dt>
				<dd>2.3.4</dd>
			</dl>
		</div>
	</div>
	<div class="row">
		<div class="wrap">
			<h2>Flavor</h2>
			<dl>
				<dt><span class="snf-chip-outline snf-font"></span>CPUs</dt>
				<dd>4x</dd>
				<dt><span class="snf-ram-outline snf-font"></span>Memory</dt>
				<dd>512 MB</dd>
				<dt><span class="snf-volume-outline snf-font"></span>Disk</dt>
				<dd>4GB</dd>
				<dt><span class="snf-volume-outline snf-font"></span>Storage Type</dt>
				<dd>DRBD</dd>
			</dl>
		</div>
	</div>
	<div class="row">
		<div class="wrap">
			<dl>
				<dt>Machine Tags</dt>
				<dd>Database server</dd>
				<dt>SSH Keys</dt>
				<dd>
					my public key 1<br>
					my public key 3<br>
				</dd>
				<dt>IPs</dt>
				<dd>192.168.1.3<br>192.168.1.3</dd>
				<dt>Private networks</dt>
				<dd>No private networks selected</dd>
			</dl>
		</div>
	</div>
</div>