<ul class="os">
	<li  class="current preselected system-images">
		<div class="row">
			<div class="img-col"><img src="" alt=""></div>
			<a href="" class="name-col el1">Kubuntu</a>
			<div class="size-col">3.13 GB</div>
			<div class="btn-col"><a href="">details</a></div>
		</div>
		<div class="details">
			<div class="row">
				<h3>Image metadata</h3>
				<dl>
					<dt>Owner</dt>
					<dd>system</dd>
					<dt>OS</dt>
					<dd>Kubuntu</dd>
					<dt>Kernel</dt>
					<dd>4.8.2</dd>
					<dt>Size</dt>
					<dd>2.51GB</dd>
					<dt>Users</dt>
					<dd>user</dd>
					<dt>Root partition</dt>
					<dd>1</dd>
				</dl>
			</div>
		</div>
	</li>
	<li class="public-images">
		<div class="row">
			<div class="img-col"><img src="" alt=""></div>
			<a href="" class="name-col">Kubuntu LTS (by Kpal)</a>
			<div class="size-col">10GB</div>
			<div class="btn-col"><a href="">details</a></div>
		</div>
		<div class="details">
			<div class="row">
				<h3>Image metadata</h3>
				<dl>
					<dt>Owner</dt>
					<dd>system</dd>
					<dt>OS</dt>
					<dd>Kubuntu</dd>
					<dt>Kernel</dt>
					<dd>4.8.2</dd>
					<dt>Size</dt>
					<dd>2.51GB</dd>
					<dt>Users</dt>
					<dd>user</dd>
					<dt>Root partition</dt>
					<dd>1</dd>
				</dl>
			</div>
		</div>
	</li>
	<li class="public-images">
		<div class="row">
			<div class="img-col"><img src="" alt=""></div>
			<a href="" class="name-col">Fedora (by Athina)</a>
			<div class="size-col">10GB</div>
			<div class="btn-col"><a href="">details</a></div>
		</div>
		<div class="details">
			<div class="row">
				<h3>Image metadata</h3>
				<dl>
					<dt>Owner</dt>
					<dd>system</dd>
					<dt>OS</dt>
					<dd>Kubuntu</dd>
					<dt>Kernel</dt>
					<dd>4.8.2</dd>
					<dt>Size</dt>
					<dd>2.51GB</dd>
					<dt>Users</dt>
					<dd>user</dd>
					<dt>Root partition</dt>
					<dd>1</dd>
				</dl>
			</div>
		</div>
	</li>
	<li class="shared-images">
		<div class="row">
			<div class="img-col"><img src="" alt=""></div>
			<a href="" class="name-col">Fedora (by Athina)</a>
			<div class="size-col">3.67 GB</div>
			<div class="btn-col"><a href="">details</a></div>
		</div>
		<div class="details">
			<div class="row">
				<h3>Image metadata</h3>
				<dl>
					<dt>Owner</dt>
					<dd>system</dd>
					<dt>OS</dt>
					<dd>Kubuntu</dd>
					<dt>Kernel</dt>
					<dd>4.8.2</dd>
					<dt>Size</dt>
					<dd>2.51GB</dd>
					<dt>Users</dt>
					<dd>user</dd>
					<dt>Root partition</dt>
					<dd>1</dd>
				</dl>
			</div>
		</div>
	</li>
	<li class="my-images">
		<div class="row">
			<div class="img-col"><img src="" alt=""></div>
			<a href="" class="name-col">Windows Server 2012</a>
			<div class="size-col">13.66 GB</div>
			<div class="btn-col"><a href="">details</a></div>
		</div>
		<div class="details">
			<div class="row">
				<h3>Image metadata</h3>
				<dl>
					<dt>Owner</dt>
					<dd>system</dd>
					<dt>OS</dt>
					<dd>Kubuntu</dd>
					<dt>Kernel</dt>
					<dd>4.8.2</dd>
					<dt>Size</dt>
					<dd>2.51GB</dd>
					<dt>Users</dt>
					<dd>user</dd>
					<dt>Root partition</dt>
					<dd>1</dd>
				</dl>
			</div>
		</div>
	</li>
	<li class="system-images">
		<div class="row">
			<div class="img-col"><img src="" alt=""></div>
			<a href="" class="name-col">Windows Server 2012</a>
			<div class="size-col">13.66 GB</div>
			<div class="btn-col"><a href="">details</a></div>
		</div>
		<div class="details">
			<div class="row">
				<h3>Image metadata</h3>
				<dl>
					<dt>Owner</dt>
					<dd>system</dd>
					<dt>OS</dt>
					<dd>Kubuntu</dd>
					<dt>Kernel</dt>
					<dd>4.8.2</dd>
					<dt>Size</dt>
					<dd>2.51GB</dd>
					<dt>Users</dt>
					<dd>user</dd>
					<dt>Root partition</dt>
					<dd>1</dd>
				</dl>
			</div>
		</div>
	</li>
	<li class="system-images">
		<div class="row">
			<div class="img-col"><img src="" alt=""></div>
			<a href="" class="name-col">Windows Server 2008</a>
			<div class="size-col">10.79 GB</div>
			<div class="btn-col"><a href="" data-next="el3">details</a></div>
		</div>
		<div class="details">
			<div class="row">
				<h3>Image metadata</h3>
				<dl>
					<dt>Owner</dt>
					<dd>system</dd>
					<dt>OS</dt>
					<dd>Kubuntu</dd>
					<dt>Kernel</dt>
					<dd>4.8.2</dd>
					<dt>Size</dt>
					<dd>2.51GB</dd>
					<dt>Users</dt>
					<dd>user</dd>
					<dt>Root partition</dt>
					<dd>1</dd>
				</dl>
			</div>
		</div>
	</li>
	
</ul>