{{ yield }}

{{#if hasButtons}}
    <p class="buttons">
        <a href="" {{ action "ok" }} class="btn4"><span>Yes</span></a>
        <a href="" {{ action "close" }} class="btn4"><span>No</span></a>
    </p>
{{/if}}

<a class="close-reveal-modal has-tip" data-tooltip title="close window">x</a>
