<em href="#" {{bind-attr title=title style=style}} class="has-tip tag">&nbsp;</em>
<span>{{title}}</span>
<a class="delete" {{action 'deleteTag'}} title="remove this tag from this server"><span class="snf-trash-outline"></span></a>