{{#reveal-modal id="connect-vm-modal"}}
    {{#each model in models}}
        <p>You can connect to your {{model.name}} VM using this stuff:</p>
        <p><span class="ssh">{{model.hostname}}</span></p>
    {{/each}}
{{/reveal-modal}}