{{#reveal-modal id="destroy-network-modal" hasButtons="true" ok="destroyNetwork"}}
    {{#each model in models}}
        <p>Are you sure you want to destroy the network {{model.name}}? </p>
    {{/each}}
{{/reveal-modal}}