{{#reveal-modal id="destroy-vm-many-modal" hasButtons="true" ok="destroyVmMany"}}
    {{#each vm in selectedItems}}
        <p>Are you sure you want to destroy the VM <strong>{{vm.name}}</strong>?</p>
    {{/each}}
{{/reveal-modal}}