{{#reveal-modal id="destroy-server-modal" hasButtons="true" ok="destroyServer"}}
    {{#each model in models}}
        <p>Are you sure you want to destroy the VM <strong>{{model.name}}</strong>?</p>
    {{/each}}
{{/reveal-modal}}