{{#reveal-modal id="destroy-volume-modal" hasButtons="true" ok="destroyVolume"}}
    {{#each model in models}}
        <p>Are you sure you want to destroy the volume <strong>{{model.name}}</strong>? </p>
    {{/each}}
{{/reveal-modal}}