{{#reveal-modal id="reboot-vm-modal" hasButtons="true" ok="rebootVm"}}
    {{#each model in models}}
        <p>Are you sure you want to reboot the VM <strong>{{model.name}}</strong>?</p>
    {{/each}}
{{/reveal-modal}}