{{#reveal-modal id="shutdown-server-modal" hasButtons="true" ok="shutdownServer"}}
    {{#each model in models}}
        <p>Are you sure you want to shutdown <strong>{{model.name}}</strong>? </p>
    {{/each}}
{{/reveal-modal}}