{{#reveal-modal id="shutdown-vm-modal" hasButtons="true" ok="shutdownVm"}}
    {{#each model in models}}
        <p>Are you sure you want to shutdown <strong>{{model.name}}</strong>? </p>
    {{/each}}
{{/reveal-modal}}