{{#reveal-modal id="start-vm-modal" hasButtons="true" ok="startVm"}}
    {{#each model in models}}
        <p>Are you sure you want to start the VM <strong>{{model.name}}</strong>?</p>
    {{/each}}
{{/reveal-modal}}