{{#reveal-modal id="start-server-modal" hasButtons="true" ok="startServer"}}
    {{#each model in models}}
        <p>Are you sure you want to start the VM <strong>{{model.name}}</strong>?</p>
    {{/each}}
{{/reveal-modal}}