<section class="content connected disk">
{{!-- {{view Snf.VolumesListView}}
 --}}	<section class="connect-new disk">
		<div class="img-wrap">
			<a href="" data-reveal-id="attach-volume">
				<span class="snf-volume-full snf-font"></span>
			</a>
		</div>
		<p><a href="">Attach Volume</a></p>
	</section>
</section>