<section class="content info-simple">

    <section class="info-block">
        <h2>info</h2>
        <dl>{{ports.foo}}
            <dt><span class="snf-font snf-network-full"></span>Name</dt>
            <dd>{{name}}</dd>
            <dt><span class="snf-font snf-dashboard-outline"></span>Assigned Project</dt>
            <dd>{{project.name}}</dd>
            <dt><span class="snf-pc-full snf-font"></span>Connected Machines</dt>
            <dd>{{vmsCnt}}</dd>
        </dl>
    </section>

</section>