<section class="content connected network">
{{!--     {{view Snf.NetworksListView}}
 --}}	<section class="connect-new network">
		<div class="img-wrap">
			<a href="" data-reveal-id="connect-to-network">
				<span class="snf-network-full snf-font"></span>
			</a>
		</div>
		<p><a href="" data-reveal-id="connect-to-network">Connect to Network</a></p>
	</section>
</section>