<section class="content connected">
{{!--     {{view Snf.VmsListView itemController='vm'}}
 --}}    <section class="connect-new">
        <div class="img-wrap">
            <a href="" data-reveal-id="connect-vm-to-network">
                <span class="snf-pc-full snf-font"></span>
            </a>
        </div>
        <p><a href="" data-reveal-id="connect-vm-to-network">Connect Machine</a></p>
    </section>
</section>