<section class="content connected network">
    {{#each network in networks itemController='VmNetworkPorts' skata='skatoules'}}
    <section {{bind-attr class=":item network.status"}}>
        <div class="what">
            <div class="img-wrap">
                {{#link-to 'network' network}}
                    <span class="snf-network-full snf-font"></span>
                {{/link-to}}
            </div>
            <h4>{{#link-to 'network' network}}{{network.name}}{{/link-to}}</h4>
        </div>
        <div class="clearfix">
            <ul class="connections">
                {{#each port in vmPorts}} 
                    {{partial 'details/ports-connected'}}
                {{/each}}
            </ul>
        </div>
    </section>
    {{/each}}
    <section class="connect-new network">
		<div class="img-wrap">
			<a href="" data-reveal-id="connect-to-network">
				<span class="snf-network-full snf-font"></span>
			</a>
		</div>
		<p><a href="" data-reveal-id="connect-to-network">Connect to Network</a></p>
	</section>
</section>