/* Detailed view for VMs, networks  */

.details {
	$details-top-title-h : 0.4 * $details-top-height;
	$details-top-more-h : ( $details-top-height - $details-top-title-h )/2;
	position:relative;
	border-left: 1px solid $border-color-1;
	border-right: 1px solid $border-color-1;
	.lt {
		width: $details-lt-width;
		float: left;
		text-align: center;
		padding:20px 0;
		border-right: 1px solid $border-color-1;
		height: $details-top-height;
	}
	.rt {
		overflow: hidden;
	}
	.top {
		@extend .clearfix;
		border-bottom:1px solid $border-color-1;
		position: relative;
		z-index: 1;
		.img-wrap {
			position: relative;
			display: inline-block;
			width:90px;
			.snf-PC_fill,
			.snf-network_full {
				font-size:90px;
			}
			.os {
				top:12px;
			}
		}
		.title {
			height: $details-top-title-h;
			padding: 0 0 0 $details-top-more-padding-lt; 
		}
		.actions, .tabs {
			border-top: 1px solid $border-color-1;
			height: $details-top-more-h;
			line-height: $details-top-more-h;
			padding: 0 0 0 $details-top-more-padding-lt; 
		}
		.actions {
			font-size: emCalc(14px);
		}
		.tabs {
			font-size: emCalc(22px);
		}
		ul {
			list-style: none outside none;
			padding:0;
			margin: 0;
			li {
				display: inline-block;
				padding: 0 20px 0 0 ;
				margin: 0;
				line-height: $details-top-more-h;
			}
		}
		h1 {
			font-size: emCalc(16px);
			margin: 0;
			padding-top: 16px;
			span {
				font-size: emCalc(12px);
				display: block;
				font-weight: normal;
			}
		}
	}
	.info-simple {
		padding: 20px 0 0 $details-lt-width;
		.info-block {
			padding:$details-top-more-padding-lt;
			background: url('../images/dashed_atom-x.png') repeat-x bottom;
			dl {
				margin-bottom: 0;
				font-size: 14px;
				dt {
					display: inline-block;
					width: 42%;
					vertical-align: top;
					font-weight: normal;
					.icon {
						width: 40px;
						display: inline-block;
						font-size: 24px;
					}
				}
				dd {
					display: inline-block;
					width: 45%;
					margin-bottom: 1em;
				}
			}
			&.tags {
				text-align:left;
				.editable {
					min-width: 30%;
					display: inline-block;
					input[type="text"] {
						width: 100px;
					}
				}
				.buttons {
					margin-top: 50px;
					*:first-child {
						margin-right: 15px;
					}
				}
			}
			&.charts {
				.graph_container {
					margin-bottom: 30px;
				}
			}
		}
	}
	.content {
		h2 {
			font-size: emCalc(16px);
		}
	}
}


.details dl {
	.editable {
		position: relative;
		.input-txt {
			display: inline-block;
			margin-right: 6px;
		}
		.editbuttons {
			display: inline-block;
		}
		input[type="text"] {
			position:relative;
			height: 25px;
			width:298px;
			padding:0 10px;
			font-size:inherit;	
			margin:0;	
			left:-11px;
			top:-1px;
		}

	}

}


