/* Table of Contents

- editable
- universal form styles
- vm wizard styles
*/


/* editable (used for changing info asychronously) ------------------ */

.editable {
	.editbuttons {		
		a {
			&.save {
				display: none;
				span {
					font-size: 18px;
				}
			} 
			&.cancel {
				@extend a.save
			}
		}
	}
	input[type="text"] {
		display: none;
	}
}


/* universal form styles ------------------ */

.input {
	display: inline-block;
	background:url(../images/input-bg-lt.png) no-repeat left bottom;
	padding-left:6px;
	input[type="text"] {
		width: 142px;
		padding:0 12px 0 6px;
		border:0 none;
		background:url(../images/input-bg-rt.png) no-repeat right bottom;
		background-color: transparent;
		outline: 0;
		margin:0;
		color: $wizard-base-font-color;
		@include box-shadow(none);
		@include placeholder {
			color:$body-font-color;
		}
	}
}


.snf-color-picker {
    display: none;
}
#picker {
    position: relative;
    width: 207px;
    margin: 30px 5px;
    display: inline-block;
}

	#color {
		@extend .tag-demo;
		margin: 0 15px 0 10px;
		position: static;
		vertical-align: text-bottom;
		border-color:transparent;
		color: transparent;
	}


/* vm wizard styles ------------------ */
.advanced-conf-step {
	@include placeholder {
		    color:white;
		}
	.snf-color-picker>form {
		height:237px;
		width: 100%
	}
}
.wizard {
	form.custom .custom.dropdown.medium {
		background:$overlay-bg-color;
		color:white;
	}
	form.custom .custom.dropdown .current {
		color:white;
	}
	form.custom .custom.dropdown .selector {
		border-left:1px solid white;
		height: 30px;
	}
	form.custom .custom.dropdown.open ul {
		background:$overlay-bg-color;
		color:white;
	}
	form.custom .custom.dropdown ul li {
		color:white;
	}
	form.custom .custom.dropdown ul li.selected {
		color:white;
		background:lighten($overlay-bg-color,10%);
	}
	form.custom .custom.dropdown ul li:hover {
		background:lighten($overlay-bg-color,20%);
		color:white;
	}
}
