/* Table of Contents

- editable 

*/

/* editable (used for changing info asychronously) ------------------ */

.editable {
	.editbuttons {		
		a {
			&.save {
				display: none;
				span {
					font-size: 18px;
				}
			} 
			&.cancel {
				@extend a.save
			}
		}
	}
	input[type="text"] {
		display: none;
	}
}