body .images .items-list .add-new {
  .img-wrap .os.symbol {
        color: #fff;
        top: 12px;
    }
}


body .images.list-view .items-list .add-new {
  .img-wrap .os.symbol {
        top: 3px;
        font-size: 16px;
    }
}