/* List view for VMs, networks  */

.items-list {
	@include block-grid(2, 0, true);
	@media #{$small} {
		@include block-grid(4, 0, true);
	};
	background:url(../images/dashed_atom.png) repeat-y left center;
	&>li {
		text-align:center;
		padding:20px;
		position: relative;
		list-style:none;
		background:url(../images/dashed-bg-corner.png) no-repeat right bottom;
		height: 215px;
				.img-wrap {
			// height: 78px;
			// margin: 0 60px;
			text-align: center;
		}
		.img {
			margin-bottom: 16px;
			position: relative;
			height:58px;
			display: inline-block;
		}
		.container {
			&.set-bg {	background:lighten($primary-color,38%); }
			&.set-border {	border-color:$secondary-color; }
			height:160px;
			border:1px solid transparent;
			margin: 16px 20px 20px;
			position: relative;
			line-height:120%;
			.tags {
				width: 100%;
				min-height: 12px;
				position: absolute;
				bottom: 6px;
				// margin-top: 16px;
			}
			.status {
				font-size: 12px;
				text-align: center;
				a {
					color: $secondary-color;
					
				}
				span {
					color: $secondary-color;
					display: block;
				}
			}
		}
		.more {
			$col-height: 200px;
			display: none;
			// height:180px;
			background: #fff;
			margin: -30px;
			height: 100%;
			z-index:101;
			position: relative;
			@include clearfix;
			-moz-box-shadow: -5px 5px 5px #ccc;
			-webkit-box-shadow: -5px 5px 5px #ccc;
			box-shadow: -5px 5px 5px #ccc;
			.col {
				width: 50%;
				float: left;
				font-size: emCalc(14px);
				height: $col-height;
				ul {
					margin: 0;
					padding: 0;
					list-style: none outside none;
					li {
						padding: 0;
						text-align: left;
						a {
							color: $body-font-color;
							display: block;
							width:100%;
							&:hover {
								background-color: $secondary-color;
								color:  #fff;
							}
						}
					}
				}
				&.lt {
					ul {
						padding-top:10px;
						li {
							a {
								padding: 5px 5px 5px 30px;
							}
						}
					}
				}
				&.rt {
					ul {
						li {
							height: $col-height/2;
							a {
								height: 100%;
								padding: 5px 5px 5px 30px;
								line-height: $col-height/2;
							}
						}
					}
				}
			}
			.vm-name {
				background:url(../images/dashed_atom-x.png) repeat-x center top;
				padding: 10px;
				font-size: emCalc(10px);
			}
		}
		.check {
			position:absolute;
			right:10px;
			top:5px;

			color:lighten($primary-color,35%);
			font-weight: bold;
			font-size:emCalc(27px);
			cursor: pointer;
			z-index: 10;
			span { position:relative; z-index:10;}
			&.active {
				color:$secondary-color;
			}
		}
		.visible-info {
			text-align: center;
			font-size: 12px;
			position:relative;
			color:$primary-color;
			overflow: hidden;
			margin-bottom: 4px;
			span {
				&.title {
					height: 3em;
					overflow: hidden;
				}
				display: block;
				position: relative;
				em {
					font-style:normal;
					position: relative;
				}
			}
		}
		&[data-status="add-new"] {
			background-color: $secondary-color;
			-webkit-transition: background-color 300ms linear;
			-moz-transition: background-color 300ms linear;
			-o-transition: background-color 300ms linear;
			-ms-transition: background-color 300ms linear;
			transition: background-color 300ms linear;
			.container {
				.img-wrap {
					.img {
						a {
							span:first-child {
								color: white;

							}
							.symbol {
								background-image: none;
								color: $secondary-color;
								font-size: 30px;
								text-indent: 0;
							}
						}
					}
				}
				.visible-info a{
					color: white;
				}
			}
			&:hover {
			background-color: white;
			-webkit-transition: background-color 300ms linear;
			-moz-transition: background-color 300ms linear;
			-o-transition: background-color 300ms linear;
			-ms-transition: background-color 300ms linear;
			transition: background-color 300ms linear;
			.container {
				.img-wrap {
					.img {
						a {
							span:first-child {
								color: $secondary-color;
								-webkit-transition: color 300ms linear;
								-moz-transition: color 300ms linear;
								-o-transition: color 300ms linear;
								-ms-transition: color 300ms linear;
								transition: color 300ms linear;
							}
							.symbol {
								color: white;
							}
						}
					}
				}
				.visible-info a{
					color: $secondary-color;
				}
			}
			}
		}
	}
	&.list-view {
		li {
			width:100%;
		}
	}
}

@media #{$entities-large} {
	.entities {
		.items-list {
			&.list-view	{
				li {
					width:100%;
				}
			}
		}
	} 
}
