/* List view for VMs, networks  */

.entities {
	padding-top:25px;
}


.items-list {
	li {
		text-align:center;
		padding:20px;
		list-style:none;
		.add-new {
			a {
				margin:0 20px;
				display: block;
				font-weight: bold;
				height:190px;
				padding:65px 30px 15px;
				border:1px dashed $primary-color;
				&:hover {
					border-color:$third-color;
				}
			}			
		}
		.img-wrap {
			height: 78px;
		}
		.img {
			margin-bottom: 20px;
			position: relative;
			height:58px;
			display: inline-block;
		}
		.container {
			&.set-bg {	background:lighten($primary-color,38%); }
			&.set-border {	border-color:$secondary-color; }
			border:1px solid transparent;
			margin: 0 20px;
			padding:25px 0;
			position: relative;
			&:hover {
				@extend .set-border;
				.check {
					@extend .active;
				}
			}
		}
		.check {
			position:absolute;
			right:10px;
			top:5px;

			color:lighten($primary-color,35%);
			font-weight: bold;
			font-size:emCalc(27px);
			cursor: pointer;
			z-index: 10;
			span { position:relative; z-index:10;}
			&.active {
				color:$secondary-color;
			}
		}
		.visible-info {
			margin: 0 25px;
			position:relative;
			color:$primary-color;
			overflow: hidden;
			span {
				&.title {
					white-space: nowrap;
				}
				display: block;
				position: relative;
				em {
					font-style:normal;
					position: relative;
				}
			}
		}
	}
	&.list-view {
		li {
			width:100%;
		}
	}
}

@media #{$entities-large} {
	.entities {
		.items-list {
			@include block-grid(4, 20px, true);
			&.list-view	{
				li {
					width:100%;
				}
			}
		}
	} 
}
