/* Machines (VMs)  related styles  */

.grid-view .build-progress {
	animation:
		progress_animation 5s infinite,
		pulse 1s infinite;
	-webkit-animation:
		progress_animation 5s infinite,
		pulse 1s infinite;
}

.reboot-progress {
	animation: 
		reboot_pulse 1s infinite;
	-webkit-animation:
		reboot_pulse 1s infinite;
}

@include keyframes( progress_animation) {
	from {
		width: 0%
	}
	to {
		width: 100%
	}
}

@include keyframes( pulse) {
	from {
		color: $vm-active-color
	}
	to {
		color: darken($vm-active-color,10%)
	}
}


@include keyframes( reboot_pulse) {
	from {
		color: $vm-rebooting-color
	}
	to {
		color: darken($vm-rebooting-color,10%)
	}
}

@mixin stateColor($color) {
	.img-wrap {
		.snf-PC_fill,
		.snf-network_full, .icon {
			color:$color;
		}
	}
	.status {
		color: $color;
	}
}

.img-wrap {
	width: 60px;
	display: inline-block;
	span {
		&:hover {
			cursor: pointer;
		}
	}
	.snf-PC_fill,
	.snf-network_full {
		font-size: 60px;
		color: $vm-active-color;
	}
	.os {
		@include sprite('../images/os-unknown.png', 22px, 22px);
		position: absolute;
		top:8px;
		left:50%;
		margin-left:-11px;
		&.windows { background-image:url('../images/os-windows.png'); }
		&.kubuntu { background-image:url('../images/os-kubuntu.png'); }
		&.fedora { background-image:url('../images/os-fedora.png'); }
	}
}
// temp 
.btn5.temp {
		color:blue;
		padding: 0 4px;
		position: absolute;
		right: 0;
	}
// li for btns used to demonstrate general animations
.temp-for-btns {
	.btn5.temp {
		position: static;
	}
}
.running {
	@include stateColor($vm-active-color);
}
.off {
	@include stateColor($vm-off-color);
}
.error {
	@include stateColor($vm-error-color);
}
.shutting {
	@include stateColor($vm-shutting-color);
}
.starting {
	@include stateColor($vm-starting-color);
}
.rebooting {
	@include stateColor($vm-rebooting-color);
}

.building {
	@include stateColor($vm-active-color);
}

.building {
	.img-wrap {
		.snf-PC_fill {
			display: block;
			overflow: hidden;
		}
		.incomplete {
			color: $vm-building-color;
			width:60px;
		}
		.complete {
			width: 0%;
			position: relative;
			top: -60px;
		}
	}
}

#vm-connect {
	.info {
		font-style:italic;
		font-size:emCalc(13px);
		color: lighten($primary-color,5%);
	}
	.ssh {
		text-align: center;
		span {
			padding: 10px 30px;
			background:$secondary-color;
			color:#fff;
		}
	}
}




