/* Machines (VMs)  related styles  */

.vms .items-list {
	.img {
		width: 60px;
		span {
			&:hover {
				cursor: pointer;
			}
		}
		&:hover {
			.snf-PC_fill {
				color: darken($vm-active-color,10%);
			}
		}
		.snf-PC_fill {
			font-size: 60px;
			color: $vm-active-color;
		}
		// &.off {
		// 	.snf-PC_fill {
		// 		color: $vm-off-color;
		// 	}
		// }
		// }
		.os {
			@include sprite('../images/os-unknown.png', 22px, 22px);
			position: absolute;
			top:8px;
			left:19px;
			&.windows { background-image:url('../images/os-windows.png'); }
			&.kubuntu { background-image:url('../images/os-kubuntu.png'); }
			&.fedora { background-image:url('../images/os-fedora.png'); }
		}
	}
	[data-status="off"] {
		.img {
			.snf-PC_fill {
				color: $vm-off-color;
			}
		}
		.status .logs, .status .state a{
			color: $vm-off-color;
		}
	}
	[data-status="error"] {
		.img {
			.snf-PC_fill {
				color: $vm-error-color;
			}
		}
		.status .logs, .status .state a{
			color: $vm-error-color;
		}
	}
	[data-status="shutting"] {
		.img {
			.snf-PC_fill {
				color: $vm-shutting-color;
			}
		}
		.status .logs, .status .state a{
			color: $vm-shutting-color;
		}
	}
	[data-status="starting"] {
		.img {
			.snf-PC_fill {
				color: $vm-starting-color;
			}
		}
		.status .logs, .status .state a{
			color: $vm-starting-color;
		}
	}
	[data-status="rebooting"] {
		.img {
			.snf-PC_fill {
				color: $vm-rebooting-color;
			}
		}
		.status .logs, .status .state a{
			color: $vm-rebooting-color;
		}
	}
	// there's no running and building
}

.vm {
	.top {
		.img {
			//@include sprite('../images/vm-on.png', 112px, 116px);
			display: inline-block;
			height: 112px;
			.snf-PC_fill {
				font-size: 112px;
				color: $vm-active-color;
			}
			&.off {
				.snf-PC_fill {
					color: $vm-off-color;
				}
			}
		}
		.os {
			@include sprite('../images/os-unknown.png', 44px, 44px);
			position: absolute;
			background-size:100%;
			
			left:34px;
			top:11px;
			&.windows { background-image:url('../images/os-windows.png'); }
			&.kubuntu { background-image:url('../images/os-kubuntu.png'); }
			&.fedora { background-image:url('../images/os-fedora.png'); }
		}
	}
}


#vm-connect {
	.info {
		font-style:italic;
		font-size:emCalc(13px);
		color: lighten($primary-color,5%);
	}
	.ssh {
		text-align: center;
		span {
			padding: 10px 30px;
			background:$secondary-color;
			color:#fff;
		}
	}
}




