.reveal-modal {
    padding: 0;
    .inner-modal {
        padding: 40px 100px;
    }
    .colored-modal {
        padding:200px 140px 40px;
        p { 
            color: #fff;
            &.buttons {
                .btn4, .btn4:hover span, .btn4:focus span {
                    border-color: #fff; 
                }
                .btn4 span {
                    color: #fff;
                }
            }
        }
        .close-reveal-modal {
            color: #fff;
            &:hover {
                color: $gray-0;
            }
        }
    }
    .ssh {
        padding: 5px 10px;
        background:$secondary-color;
        color:#fff;
    }
    p   {   
        &.buttons {
            text-align: center;
            a:first-child {
                margin-right:20px;
            }
            .btn4, .btn4:hover span, .btn4:focus span {
                border-color: $body-font-color; 
            }
            .btn4 span {
                color: $body-font-color;
            }
        }
    }

    #reboot-server-modal {
        background: $orange-1 url('../images/restart.png') no-repeat center 50px;
        @extend .colored-modal;
    }

    #start-server-modal {
        background: $secondary-color url('../images/shutdown.png') no-repeat center 50px;
        @extend .colored-modal;
    }

    #shutdown-server-modal {
        background: $cobalt-2 url('../images/shutdown.png') no-repeat center 50px;
        @extend .colored-modal;
    }

    #destroy-server-modal {
        background: $fuchsia-1 url('../images/destroy-vm.png') no-repeat center 46px;
        @extend .colored-modal;
    }

    #destroy-network-modal {
        background: $fuchsia-1 url('../images/destroy-network-1.png') no-repeat center 50px;
        @extend .colored-modal;
    }

    #destroy-volume-modal {
        background: $fuchsia-1 url('../images/destroy-network-2.png') no-repeat center 50px;
        @extend .colored-modal;
    }

}