/* Networks related styles  */

.networks {
	.items-list {
		.img-wrap {
			.snf-network_full {
				font-size: 60px;
			}
		}
		[data-status="active"] {
			.img-wrap {
				.snf-network_full {
					color: $secondary-color;
				}
			}
		}
	}
}

.list-view {
	.items-list {
		.img-wrap {
			.snf-network_full {
				font-size: 32px;
			}
		}
	}
}


