/* Networks related styles  */

.networks .items-list {
	.img {
		@include sprite('../images/network-green102x116.png', 51px, 58px);
		background-size:100%;
	}
}

.network {
	.top {
		.img {
			@include sprite('../images/network-green102x116.png', 102px, 116px);
		}
	}
}



#network-wizard {

	a {
		&.nav:focus {
			border: none;
		}
		&.radio_btn:focus, &.check:focus{
				border: 1px solid #aee7cc;
				padding: 2px;
			}
	}

	li {
		list-style: none outside none;
		position: relative;
	}

	.net_wiz_main {
		width:360px;

	}

	.snf-checkbox-checked, .snf-checkbox-unchecked {
		font-size: 1.3em;
	}
	.subnet_options {
		margin: 0;
		li {
			margin-top: 20px;
		}
	}

// for network creation wizard

.main {
	a {	color: $wizard-base-font-color;}
	.network_options {
		.dhcp_option {
			p {
				font-size:emCalc(12px);
				margin-top:20px;
				margin-bottom:60px;
			}
		}
		position: relative;
		width: 360px;
		.check, .radio_btn {
			position: absolute;
			right: 0;
			&:focus {
				right: -3px;
				top: -3px;
			}
		}
		.network-name {
			margin-top: 50px;
			margin-bottom: 50px;
			h2 {
				color:white;
				font-size: emCalc(16px);
			}
		}
		
		
		li {
			display: block;
			&.manual{
				position: relative;
				.input {
					position: absolute;
					right: -170px;
					width: 150px;
					bottom: 5px;
					display: none;
				}
			}
		}		
		span.sub_title {
			
		}
	}
}
}
