/* 

Overlays (Todo: clean up)

*/
body.with-overlay {
	background:$secondary-color;
}

.reveal-modal {
	h3 {
		font-size:1em;
	}
	a { 
		color: $secondary-color;
		&:hover {
			text-decoration: underline;
		}
		&.close-reveal-modal:hover {
			text-decoration: none;
			color:$secondary-color;
		}
	}	
}


// custom modal with opaque overlay
.reveal-custom {
	position: absolute;
	top:100px;
	left:25%;
	z-index:99;
	background:yellow;
	width:50%;
	display:none;
}


.overlay-wrapper {
	position: relative;
	.overlay-area {
		display:none;
		position:absolute;
		left:0;
		right:0;
		top:0;
		width:100%;
		height:100%;
		background:$overlay-color;
		z-index:20;
	}
	.close {
		position: absolute;
		right:$header-padding-horizontal;
		top:50px;
		font-size:25px;
		color:$primary-color;
		&:hover {
			color:white;
		}
	}
	.row {
		.close {
			position:static;
			float:right;
			padding-top:5px;
		}
	}
	.overlay-div {
		display: none;
		z-index:100;
		position: relative;
		background:#fff;
		top:20%; 
		left:25%; 
		width:50%;
		padding:25px;
		.buttons {
			a {
				margin-right:20px;
			}
		}
		&.upload-widget {
			background:transparent;
			padding:45px 0;
			width:80%;
			left:10%;
			border:1px solid white;
		}
		&.wizard {
			background:$overlay-color;
			padding:0;
			width:100%;
			top:0;
			left:0;
		}
	}
}


.overlay {
	background:$secondary-color;
	position: relative;
	z-index:10;
	.lt-sidebar {
		border-right:1px solid #fff;
		color:#fff;
		ul {
			li {
				list-style:none outside none;
				
				a {
					display: block;
					color:#fff;
					span { float:right; display:none;}
					&:hover,
					&.current {
						text-decoration: none;
						span { 
							display:inline;
						}
					}
				}

			}
		}

	}
	.lt-sidebar, 
	.main {
		padding:100px $header-padding-horizontal;
		position:relative;
	}
	.navigation {
		.rt {
			float:right;
		}
	}
	.close {
		position: absolute;
		right:$header-padding-horizontal;
		top:50px;
		@include sprite('../images/info-close.png', 31px, 30px);
	}
	.close_char {
		background: none;
		text-indent: 0;
		font-size: 1.8em; /* for the the character e (for d we can put 2em) */
		color: white;
	}
}

.wizard {
	position: relative;
	top:0;
	color:white;
	.top {
		background:$overlay-color-top;
		.sub-menu {
			padding:10px 0;
			ul {
				margin:0;
				padding:0;
				list-style: none outside none;
				font-size:emCalc(12px);
				li {
					display: inline;
					margin-right:10px;
					list-style: none outside none;
					a {
						color:$black;
						&:hover, &.current {
							color:white;
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
	.middle {
		.step {
			padding:50px 30px;
			float:left;
			position:relative;
			width:$row-width;
			.os {
				li {
					list-style: none outside none;
					@extend .clearfix;
					margin-bottom:1.5em;
					.img-col {
						float:left;
						width:10%;
					}
					.name-col {
						float: left;
						width:70%;
					}
					.size-col {
						float:left;
						width:10%;
					}
					.btn-col {
						float:left;
						width:10%;
						a {
							@extend .btn5;
							&.current {
								color:$overlay-color;
							}
						}
					}
					.details {
						display: none;
						background:white;
						padding:30px 10%;
						clear: both;
						position: relative;
						top: 20px;
						margin-bottom:3em;
						color: $body-font-color;
						h3 {
							font-size: 1em;
						}
						dl {
							dt {
								width: 20%;
								float:left;
								font-weight:normal;
							}
							dd {
								margin:0 0 5px;
							}
						}
					}
				}
			}
		}
	}
	.bottom {
		position: fixed;
		left:0;
		right:0;
		bottom:0;
		border-top:1px solid $black;
		padding:10px 0;
		background:$overlay-color;
		.nav {
			height: 30px;
			line-height:30px;
			color:white;
			span {
				display: inline-block;
				height: 30px;
				line-height: 30px;
			}
		}
		.prev {
			float:left;
			display: inline-block;
			padding-left:11px;
			background:url('../images/nav-edge-lt.png') no-repeat left center;
			span {
				padding:0 12px 0 10px;
				border:1px solid white;
				border-left:0 none;
				height: 30px;
				line-height: 30px;
			}
			&:hover {
				background-image:url('../images/nav-edge-lt-hover.png');
				span {
					border-width:2px;
					line-height:28px;
				}
			}
		}
		.next {
			float:right;
			display: inline-block;
			padding-right:11px;
			background:url('../images/nav-edge-rt.png') no-repeat right center;
			span {
				padding:0 10px 0 12px;
				border:1px solid white;
				border-right:0 none;
			}
			&:hover {
				background-image:url('../images/nav-edge-rt-hover.png');
				span {
					border-width:2px;
					line-height:28px;
				}
			}
		}
		.nums {
			text-align: center;
			list-style:none outside none;
			margin:0;
			li {
				list-style:none outside none;
				display: inline-block;
				border-radius:50%;
				border:1px solid $primary-color;
				width:25px;
				height:25px;
				line-height: 25px;
				margin:0 3px;
				a {
					color:$primary-color;
					display: block;
				}
				&:hover,&.current{
					border-color:white;
					a {
						color:white;
					}
				}
				&.current {
					font-size:emCalc(20px);
					width:30px;
					height:30px;
				}
			}
		}
	}
}

.wizard-content {
	overflow: hidden;
}

.vm-wizard-carousel {
	width: 20000px;
	position:relative;
}
