/* Storage (pithos) related styles  */

.storage {
	padding:45px 0;
	position:relative;
	.lt-sidebar {
		font-size: 1em;
		padding:0 20px 40px 40px;
		.sidenav {
			font-size: inherit;
		}
		ul {
			list-style: none outside none;
			li {
				padding:5px 0;
				&:hover {
					background: transparent;
					&>a {
						color:$secondary-color;
						&+span {
							display: inline;
						}
					}
				}
				span {
					float:right;
					color:$secondary-color;
					display: none;
				}

			}
		}
	}
	.files {
		margin:1em 0;
		padding:0;
		list-style: none outside none;
		li {
			list-style:none outside none;
			clear: left;
			padding:10px 20px;
			border:1px solid transparent;
			@extend .clearfix;
			text-align: left;
			font-weight: normal;
			.name-col {
				float:left;
				width:35%;
				padding-left:50px;
				&.folder { background:url(../images/icon-folder.png) no-repeat left center; }
				&.txt { background:url(../images/icon-txt.png) no-repeat left center; }
				&.pdf { background:url(../images/icon-pdf.png) no-repeat left center; }
				&.image { background:url(../images/icon-image.png) no-repeat left center; }
				font-weight: normal;
			}
			.size-col {
				float:left;
				width:10%;
			}
			.date-col {
				float:left;
				width:20%;
			}
			.actions-col {
				float:left;
				width:30%;
				visibility: hidden;

				a {
					margin-right: 10px;
				}
			}
			&:hover {
				border-color:$secondary-color;
				.actions-col { visibility:visible;}
			}
			&.titles {
				color:$primary-color;
				.name-col { padding-left:0; }
				&:hover {
					border-color:transparent;
				}
			}
		}
	}
	.breadcrumbs {
		li:first-child {
			font-weight:bold;
			a {
				color:$black;
				&:hover {
					color:$secondary-color;
				}
			}
		}
		a:hover {
			color: $secondary-color;
		}
	}
}





.upload-widget {
	
	text-align:center;
	h2, a{
		color:#fff;
	}
	.btns {
		a {
			@extend .btn3;
			margin:0 10px;
		}
	}
	.breadcrumbs {
		*, & > *:before ,li a:first-child, a:hover, li a:first-child:hover  {
			color:#fff;
		}
		a:hover {
			text-decoration:underline;
		}

		display: inline-block;
	}
	.files {
		color:#fff;
		
		li {
			padding: 10px 120px;
			border: none;
			position: relative;
			.dz-success-mark {
				margin-left:10px;
			}
			.dz-error-mark {
				display: none;
			}
			.cancel-col {
				width: 100px;
				position: absolute;
				right: 50px;
				top: 9px;
				
				.cancel span {
					display: block;
					text-align: right;
				}
			}
		}
		div {
			display: inline-block;
		}
		.progress-bar {
			position: static;
			padding: 0;
			width: 25%;
			border: none;
			background-color: transparent;
			
			.progress-wrap {
				width: 100%;
				margin: 0;
			
				.progress {
					display: block;
					margin: 0;
					border: 2px solid white;
					padding: 0;
					background-color:  $secondary-color;
				
					.meter {
						background-color: white;
					}
				}
			}
		}
	}
}

.dz-success-mark, .dz-error-mark, .dz-error-message {
	display: none;
}