/* Storage (pithos) related styles  */

.storage {
	$storage-h4-w: 25%;
	height: 100%;
	.rect-plus {
		display: inline-block;
		background-color: #fff;
		color: $link-color-hover;
		padding: 0 6px;
		font-size: emCalc(26px);
		&:hover {
			color: $link-color;
		}
	}
	.items-list {
		height: 100%;
		&>li {
			.img-wrap {
				top: 0;
				height: $list-icon-height;
				line-height: $list-icon-height;
			}
			h4 {
				width: $storage-h4-w;
				height: $list-icon-height;
				line-height: $list-icon-height;
			}
			.info {
				margin-right: 40px;
			}	
		}
		li:hover {
			.actions-col {
				visibility: visible;
			}
		}
		.add-new {
			position: relative;
			input[type="file"] {
				position: absolute;
				left:$lt-bar-width;
				top:0;
				right: 0;
				bottom: 0;
				opacity: 0;
			}
		}
	}
}
.strorage-progress{
	.items-list {
		li {
			padding-left: $lt-bar-width + $check-w;
			color: #fff;
			.img-wrap {
				top: 0;
				height: $list-icon-height;
				line-height: $list-icon-height;
			}
			h4 {
				width: $h4-w;
				height: $list-icon-height;
				line-height: $list-icon-height;
			}
			.remove {
				text-align: right;
				font-weight: bold;
				visibility: visible;
				a {
					color: #fff;
				}
				em {
					display: none;
				}
				&:hover {
					em {
						display: inline;
					}
				}
			}
			.progress-col {
				padding-top: 7px;
			}
			&:hover {
				background-color: orange;
			}
		}
	}
	.progress {
		height: 20px;
		.meter {
			background-color: #fff;
			color: $body-font-color;
			text-align: right;
			padding-right: 10px;
			line-height: 100%;
		}
	}
	.details {
		border: 0 none;
	}
}

.all-height {
	height: 100%
}