/* Storage (pithos) related styles  */

.storage {
	$storage-h4-w: 25%;
	height: 100%;
	.rect-plus {
		display: inline-block;
		background-color: #fff;
		color: $link-color-hover;
		padding: 0 6px;
		font-size: emCalc(26px);
		&:hover {
			color: $link-color;
		}
	}
	.items-list {
		height: 100%;
		&>li {
			.img-wrap {
				top: 0;
				height: $list-icon-height;
				line-height: $list-icon-height;
			}
			h4 {
				width: $storage-h4-w;
				height: $list-icon-height;
				line-height: $list-icon-height;
			}
			.info {
				margin-right: 40px;
			}	
		}
		li:hover {
			.actions-col {
				visibility: visible;
			}
		}
		.add-new {
			position: relative;
			input[type="file"] {
				position: absolute;
				left:$lt-bar-width;
				top:0;
				right: 0;
				bottom: 0;
				opacity: 0;
			}
			h4 {
				color: #fff;
			}
			&:hover {
				.rect-plus	{
					color: $link-color;
				}
			}
		}
		&.drag {
			background-color: $light-bg;
		}
	}
	&.containers {
		margin-right: 30px;
		margin-left:30px;
		.items-list {
			&>li {
				padding-right: 0;
				padding-left: 0;
				height:60px;
				&>*	{
					display: inline-block;
					overflow: hidden;
					// border: 1px solid pink;
					height: 100%;
					line-height: 100%;
				}
				.basic-data {
					width: 25%;
				}
				.size-data{
					width: 35%;
					.progress-col {
						height: 20px;
						line-height: 20px;
						width: 150px;
						.progress {
							border-color: $gray-2;
							height: 100%;
							line-height: 100%;
							.meter {
								text-align: right;
								font-size: 10px;
								padding: 2px;
								background-color: $gray-2;
								color: white;
							}
						}

					}
					.size {
						width: auto;
						line-height: 20px;
						height: 20px;
						padding-left: 20px;
					}
				}
				.project {
					position: relative;
					width: 35%;
					font-size: emCalc(12px);
					.available {
						list-style: none;
						visibility: hidden;
						width: 100%;
					}
					.btn-more {
						display: inline-block;
						margin-left: 5px;
						border: 1px solid $gray-2;
						.explain {
								display: none;
						}
						.snf-arrow-down {
						}
					}

				}
				.img-wrap {
					.snf-folder-full {
						font-size: emCalc(34px);
						color: $secondary-color;
					}
					span:not(.snf-folder-full) {
						color: $gray-2;
						font-size: emCalc(16px);
						position: relative;
						bottom: 5px;
						left: -28px;
					}
				}

			}
		}
	}
}
.storage-progress{
	.items-list {
		margin-bottom: 0;
		li {
			padding-left: $lt-bar-width + $check-w;
			color: #fff;
			.img-wrap {
				top: 0;
				height: $list-icon-height;
				line-height: $list-icon-height;
			}
			h4 {
				width: $h4-w;
				height: $list-icon-height;
				line-height: $list-icon-height;
			}
			.remove {
				text-align: right;
				font-weight: bold;
				visibility: visible;
				a {
					color: #fff;
				}
				em {
					display: none;
				}
				&:hover {
					em {
						display: inline;
					}
				}
			}
			.progress-col {
				padding-top: 7px;
			}
			&:hover {
				background-color: transparent;
			}
		}
	}
	.progress {
		height: 20px;
		.meter {
			background-color: #fff;
			color: $body-font-color;
			text-align: right;
			padding-right: 10px;
			line-height: 100%;
		}
	}
	.details {
		border: 0 none;
	}
}

.all-height {
	height: 100%
}