<p>Firewall <em>{{port.firewallState}}</em></p>
<ul class="more">
    <li class="fully selected">
        <a href="" class="radiobtn">Fully protected mode<span class="snf-radio-checked"></span></a>
    </li>
    <li class="basic">
        <a href="" class="radiobtn">Basically protected mode<span class="snf-radio-unchecked"></span></a>
    </li>
    <li class="unprotected">
        <a href="" class="radiobtn">Unprotected mode<span class="snf-radio-unchecked"></span></a>
    </li>
</ul>
