{{partial 'actions-bar'}}
<section class="main row containers">
            <div class="storage entities list-view">
                <ul class="items-list">
                    {{#each}}
                    <li class="folder">
                        <div class="basic-data col">
                            <div class="img-wrap">
                                {{#link-to 'container' this}}<span class="snf-pithos-outline">{{/link-to}}</a>
                            </div>
                            <h4>{{#link-to 'container' this}}{{name}}{{/link-to}}</a></h4>
                        </div>
                        <div class="size-data col">
                            <div class="progress-col">
                                <div class="progress">
                                    <span class="meter" style="width: 30%">30%</span>
                                </div>
                            </div>
                            <span class="size">2 GB of {{bytes-to-human capacity}} used</span>
                        </div>
                        <h5>{{project.name}}</h5>
                        <div class="project col">
                            <a class="btn-more">
                                <em>reassign</em>
                                <span class="arrow-down"></span>
                            </a>
                            <ul>
                                <li><a href="">another.project.okeanos</a></li>
                                <li><a href="">another.project.okeanos</a></li>
                                <li><a href="">another.project.okeanos</a></li>
                            </ul>
                        </div>
                    </li>
                    {{/each}}
                   <li class="folder">
                        <div class="basic-data col">
                            <div class="img-wrap">
                                <span class="snf-image-outline"></span></a>
                            </div>
                            <h4><a href="pithos_list.html" title="">Images</a></h4>
                        </div>
                        <div class="size-data col">
                            <div class="progress-col">
                                <div class="progress">
                                    <span class="meter" style="width: 30%">30%</span>
                                </div>
                            </div>
                            <span class="size">2 GB of 50 GB used</span>
                        </div>
                        <h5>images.gr</h5>
                        <div class="project col">
                            <a class="btn-more">
                                <em>reassign</em>
                                <span class="arrow-down"></span>
                            </a>
                            <ul>
                                <li><a href="">another.project.okeanos</a></li>
                                <li><a href="">project.okeanos.gr</a></li>
                                <li><a href="">test.com</a></li>
                            </ul>
                        </div>
                    </li>
                   <li class="folder">
                        <div class="basic-data col">
                            <div class="img-wrap">
                                <a href="pithos_list.html" title=""><span class="snf-snapshot-outline"></span></a>
                            </div>
                            <h4><a href="pithos_list.html" title="">Snapshots</a></h4>
                        </div>
                        <div class="size-data col">
                            <div class="progress-col">
                                <div class="progress">
                                    <span class="meter" style="width: 80%">80%</span>
                                </div>
                            </div>
                            <span class="size">40 GB of 50 GB used</span>
                        </div>
                        <h5>project1.gr oisdfu soidfusioduf sdiofusido </h5>
                        <div class="project col">
                            <a class="btn-more">
                                <em>reassign</em>
                                <span class="arrow-down"></span>
                            </a>
                            <ul>
                                <li><a href="">another.project.okeanos</a></li>
                                <li><a href="">another.project.okeanos</a></li>
                                <li><a href="">another.project.okeanos</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <div class="communication-error">
                    <p>Sorry! Something went terribly wrong!<br>Try again, but if you keep seeing this message please contact us through the feedback form.</p>
                    <p class="buttons">
                        <a class="btn5" href="">feedback</a>
                        <a href="" class="btn5">close</a>
                    </p>
                </div>
            </div>
        </section>