{{partial 'actions-bar'}}
<section class="main row containers">
    <div class="storage entities list-view">
        {{view Snf.ContainersListView}}
        <div class="communication-error">
            <p>Sorry! Something went terribly wrong!<br>Try again, but if you keep seeing this message please contact us through the feedback form.</p>
            <p class="buttons">
                <a class="btn5" href="">feedback</a>
                <a href="" class="btn5">close</a>
            </p>
        </div>
    </div>
</section>